<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

  <title>BuilderSystem</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="style.css" type = "text/css">
</head>
<body>
<!--<a> <style="margin-top:0px;margin-bottom:-5px;height:50px;"></style></a>-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Builder_Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home.html">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Check Eligibility <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Calculator</a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <li><a href="#">Create lead</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <u><h1><center><b><p class="text-danger"> Welcome to Bulider Relationship Management System</p></b></center></h1></u>
  <div class="p-3 mb-2 bg-info text-white"><marquee>The smart way to find best Home anywhere. welcome to our builder management system!!</marquee></div>


  <div class="row backgroundimg">
  <div class="container">
    <h1 class="h1">Responsive</h1>
  </div>
</div>

<!--class="text-success">.text-success</p>
  <div class="p-3 mb-2 bg-success text-white">.bg-success</div>-->
 <center><strong>
   <p>INVOICE</p>
   <p>ESTIMATEING</p>
   <p>SCHEDULING</p>
   <p>APPLICATION</p>
   <p>FOR BUILDERS AND</p>
   <p>CONSTRUCTION</p>
   <p>BUSINESS</p></strong>
   <b><p class="text-danger">Sign Up Now and try the best invoice app for builders for free</p></b>

 </center>
</div>


<center><span class="label label-info">Privacy & Policies</span>
<span class="label label-info">Terms & Conditions</span>
<span class="label label-info">Feedback</span>
  <span class="label label-info">About_Us</span>
  <span class="label label-danger">Thank-You</span></center>
</body>
</html>
